.invoice-convert-itemCode {
  min-width: 50px;
  max-width: 50px;
}

.invoice-convert-description {
  max-width: 140px;
  min-width: 140px;
}

.invoice-convert-quantity, .invoice-convert-unitPrice, .invoice-convert-totalPrice {
  max-width: 30px;
  min-width: 30px;
}

.invoice-convert-delete {
  max-width: 15.8px;
  min-width: 15.8px;
  text-align: center;
  border-left: 2px solid black;
}
