body {
  background-color: white;
}

a {
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}

a:hover{
  color: white;
}

.quotes-nav {
    position: relative;
    width: 98%;
    background-color: #30a309;
    padding: 1%;
    color: white;
}

#nav-header {
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
}

#nav-nav {
  position: absolute;
  margin-top: -3.3%;
  margin-left: 63%;
}

.quotes-user {
  margin-top: 1%;
  margin-left: 1%;
  height: 250px;
  float: left;
  background-color: #30a309;
  width: 24%;
  text-align: center;
  border: 2px solid;
}

.quotes-user img {
  margin-top: 5px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.quotes-user p {
  margin-top: 5px;
  font-family: cursive;
  color: white;
  font-size: 1.3em;
}

#user-line {
  height: 2px;
  background-color: black;
  border: none;
}

.quotes-buttons {
  float:left;
  background-color: black;
  width: 72.6%;
  margin-left: 1%;
  margin-top: 1%;
  height: 250px;
  border: 2px solid;
}

#quotes-buttons-background-image {
  height: 180px;
  width: 100%;
}

#quotes-buttons-background-image img {
  width: 100%;
  height: 180px;
}

#quotes-buttons-function-buttons {
  height: 70px;
  width: 100%;

}

#quotes-buttons-function-buttons button{
  width: 33.3%;
  height: 70px;
  font-size: 1em;
  background-color: #30a309;
  border: none;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  font-weight: bold;

}

#quotes-buttons-function-buttons button:hover {
  background-color: #08491f;
}

#quotes-button-functions-buttons-create {
  border-left: none;
}

#quotes-button-functions-buttons-import {
  border-right: none;
}

.quotes-quotesTable {
  border: 2px solid;
  float: left;
  background-color: #30a309;
  width: 98%;
  margin-top: 1%;
  margin-left: 1%;
  height: 330px;
}

#quotesTable-table {
  float: left;
  width: 90%;
  height: 100%;
  background-color: white;
  table-layout: fixed;
}

#quotesTable-table-headers {
  width: 100%;
  height: 3em;
  background-color: #30a309;
}

#quotesTable-table-headers table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

#quotesTable-table-headers th {
  color:white;
  padding: 10px;
}

/* The Data Headers */

#quoteNumber, #createDate, #expectDate {
  min-width: 70px;
  max-width: 70px;
  text-overflow: ellipsis;
}

#customers, #salesperson, #company {
  min-width: 110px;
  max-width: 110px;
  text-overflow: ellipsis;
}

#total, #status {
  min-width: 50px;
  max-width: 50px;
  text-overflow: ellipsis;
}

#quotesTable-table-table {
  width: 100%;
  height: 282px;
  background-color: white;
  overflow: scroll;
}

#quotesTable-table-table table {
  background-color: white;
  text-align: left;
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  white-space: nowrap;
}

#quotesTable-table-table td {
  color:black;
  border-bottom: 1px solid black;
  padding: 10px;
  overflow: hidden;
}

#quotesTable-table-table tr:nth-child(even){background-color: #f2f2f2;}

#quotesTable-table-table tr:hover {
  background-color: #ddd;
}


#quotesTable-buttons {
  float: left;
  width: 10%;
  height: 100%;
  background-color: black;
}

#quotesTable-buttons button {
  background-color: #30a309;
  color: white;
  width: 100%;
  height: 100%;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border:none;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}

#quotesTable-buttons button:hover {
  background-color: #08491f
}

.edit-delete-add-quote {
  position: absolute;
  width: 93%;
  height: 34em;
  background-color: black;
  margin-left: 2.5%;
  margin-top: 2%;
  padding: 1%;
}

#quote-information {
  width: 96%;
  padding: 2%;
  background-color: #30a309;
}

#quote-information label {
  color: white;
  font-size: 20px;
  line-height: 45px;
}

#quote-information input {
  padding: 0.5%;
  width: 20%;
  border-radius: 20px;
  border: none;
  text-align: center;
}

#quote-tableParts {
  width: 100%;
  height: 16em;
  margin-top: 1%;
  background-color: white;
  border: 2px solid black;
  margin-left: -1.5px;
  overflow: scroll;
}

#quote-tableParts-1 table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

#quote-tableParts-1 th {
  padding: 10px;
  background-color: #30a309;
  color: white;
}

.quote-tableParts-1-modelNumber, .quote-tableParts-1-partNumber {
  max-width: 40px;
  min-width: 40px;
}

.quote-tableParts-1-description {
  max-width: 100px;
  min-width: 100px;
}

.quote-tableParts-1-cost, .quote-tableParts-1-price, .quote-tableParts-1-onHand, .quote-tableParts-1-comitted, .quote-tableParts-1-delete {
  max-width: 20px;
  min-width: 20px;
}

.quote-tableParts-1-delete {
  text-align: center;
  border-left: 2px solid black;
}

#quote-tableParts-2 {
  width: 100%;
}

#quote-tableParts-2 table {
  width: 100%;
  border-collapse: collapse;
}

#quote-tableParts-2 td {
  padding: 10px;
  background-color: #f2f2f2;
  color: white;
  overflow: hidden

}

#quote-tableParts-2 td {
  color:black;
  border-bottom: 1px solid black;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#quote-tableParts-2 tr:nth-child(even){background-color: #f2f2f2;}

#quote-tableParts-2 tr:hover {
  background-color: #ddd;
}

#quote-buttons-for-edit-delete-add {
  width: 100%;
  margin-top: 1%;
}

#quote-buttons-for-edit-delete-add button {
  width: 20%;
  background-color: #30a309;
  border:none;
  padding: 1%;
  color: white;
}

#quote-buttons-for-edit-delete-add button:hover, #pdf-email button:hover {
  background-color: #08491f
}

#pdf-email {
  width: 100%;
}

#pdf-email button {
  width: 50%;
  background-color: #30a309;
  border:none;
  padding: 1%;
  color: white;
}

#importing-page {
  margin-left: 28%;
  margin-top: 10%;
  width: 40%;
  padding: 2%;
  background-color: #30a309;
  position: absolute;
  z-index: 1;
}

#importing-page label {
  color: white;
  font-size: 1.4em;;
}

#importing-page input {
  color: white;
  width: 100%;
  margin-top: 20px;
}

#importing-page button {
  width: 50%;
  background-color: #08491f;
  border:none;
  padding: 2%;
  color: white;
  margin-top: 20px;

}

#importing-page button:hover {
  background-color: #94ad2e
}

#email-page {
  position: absolute;
  background-color:  #30a309;
  color: white;
  padding: 1%;
  margin-left: 28%;
  margin-top: 5%;
  width: 40%;
  z-index: 1;
  border: 2px solid black;
}

#email-page input {
  text-align: center;
}

#email-page textarea {
  width: 96%;
  height: 90px;
  padding: 2%;
  max-width: 96%;
  max-height: 90px;
  font-size: 16px;
}

#recipients {
  width: 96%;
  padding: 2%;
  font-size: 16px;
  border-radius: 0px 20px 20px 20px;
  border: none;
}

#email-page button {
  width: 50%;
  padding: 2%;
  background-color: #08491f;
  border: none;
  color: white;
}

#email-page button:hover {
  background-color: #94ad2e
}

#email-page label {
  font-size: 20px;
}

#time {
  margin-left: 12px;
  width: 40%;
  padding: 0.8%;
  font-size: 14px;
  border-radius: 20px 20px 20px 20px;
  border: none;
}

.gif-loader {
  position: absolute;
  margin-top: 15%;
  margin-left: 46%;

}

.gif-loader img {
  width: 100px;
  height: 100px;
}

#search-field {
  position: absolute;
  background-color: green;
  width:60%;
  padding: 1%;
  border-radius: 30px 30px 30px 30px;
  margin-left: 20%;
  margin-top: 8%;
}

#search-field input {
  width: 96%;
  font-size: 16px;
  padding: 2%;
  border-radius: 20px 20px 20px 20px;
  border: none;
}
